<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask WebSocket Chat</title>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script>
        const roomID = window.location.pathname.split("/").at(-1);

        const socket = io();

        socket.on("connect", () => {
            socket.emit("join", roomID);
        })

        // socket.on("disconnect", () => {
        //     
        // })

        socket.on("message", (data) => {
            let messages = document.getElementById("messages");
            messages.innerHTML += `<p>${data}</p>`;
        });

        function sendMessage() {
            let msgInput = document.getElementById("msg");
            let message = msgInput.value;
            socket.emit("chat_message", message);
            msgInput.value = "";
        }
    </script>
</head>
<body>
    <h2>Flask WebSocket Chat</h2>
    <input id="msg" type="text" placeholder="Enter your message">
    <button onclick="sendMessage()">Send</button>
    <div id="messages">
        {% for message in messages %}
            <p>{{message[0]}}: {{message[1]}}</p>
        {% endfor %}
    </div>
</body>
</html>